<!-- 
  Simulate a differential drive robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="bl_hg" args="0 0 0 0 0 0 1 odom map" />

    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="true"/>

    <!--  ************** Stage Simulator ***************  -->
    <include file="$(find scout_gazebo)/launch/scout_gazebo.launch"></include>
    <node pkg="velodyne2scan" type="pointcloud_trans" name="pointcloud_trans" output="screen">
        <param name="box_x_min" value="-10.0"/>
        <param name="box_x_max" value="10.0"/>
        <param name="box_y_min" value="-10.0"/>
        <param name="box_y_max" value="10.0"/>
        <param name="box_z_min" value="0.0"/>
        <param name="box_z_max" value="1.0"/>
    </node>
    <node pkg="velodyne2scan" type="velodyne2scan" name="velodyne2scan" output="screen"/>

    <!--  ************** Navigation ***************  -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find autostart)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find autostart)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find autostart)/cfg/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find autostart)/cfg/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find autostart)/cfg/teb_local_planner_params.yaml" command="load" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="1.0" />
        <param name="planner_patience" value="5.0" />

        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="5.0" />
        <param name="controller_patience" value="15.0" />
    </node>


    <!--  ****** Maps *****  -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find autostart)/maps/lab.yaml" output="screen">
        <param name="frame_id" value="map"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find autostart)/cfg/amcl_params.yaml" command="load" />

        <!-- We have a holonomic robot! Overwrite yaml config here! -->
        <param name="odom_model_type" value="omni"/>

        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="0"/>
        <param name="initial_pose_a" value="0"/>
    </node>

    <!--  **************** Visualisation ****************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autostart)/rviz/rviz_navigation.rviz"/>

</launch>
